body
{
    color:green ;
    background-color:white;
}
h1
{
    color: maroon;
    background-color: teal;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-color: brown;

}