body
{
    color:black ;
    background-color:white;
}
header h1
{
    color: maroon;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-color: brown;
    border: 30px;
    text-align: center;
}
header{
    background-color: burlywood;
}