.header{
padding: 0.05cm;
background-color:teal;
color: white;
font-size:10px;
text-align: center;
margin-bottom: 10px;
font-weight: 700;
margin-left: 225px;
margin-top: 10px;
}
body{

background-color:white;
}
.sidebar {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: teal;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 10px;
}
.sidebar p{
    font-size: 35px;
    padding: 0px;
    color: white;
    text-decoration: whitesmoke;
    margin-bottom: 10px;
    padding-left: 6px;
    margin-top: 5px;
}
.sidebar a{
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
     
}
.sidebar a:hover{
    color:teal;
    background-color: white;
}
.navbar{
    background-color:teal;
    overflow: hidden;
    margin-left: 225px;
}
.navbar a {
    float: left;
    color: whitesmoke;
    padding:0.11cm;
    font-size: 20px;
    margin-top: 8px;
    font-style: initial;
}
.navbar a:hover{
    background-color: white;
    color: teal;

}
.content h1{
    color: teal;
    font-size: 30px;
    text-align: center;
}
.content h6{
    color: teal;
    font-size: 20px;
    text-align: right;
    font-style: oblique;
}
.content p{
    color: teal;
    font-size: 25px;
    text-align: justify;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: teal;
    margin-left: 225px;
    margin-right: 10px;
}