.body{
    
    background-color:white;
    }
.nav{
        background-color:teal;
        overflow: hidden;
    }
.nav a {
        float: left;
        color: whitesmoke;
        padding:0.11cm;
        font-size: 20px;
        margin-top: 8px;
        font-style: initial;
    }
.nav a:hover{
        background-color: white;
        color: teal;
    
    }
.Title{
        padding: 0.05cm;
        background-color:teal;
        color: white;
        font-size:10px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
        margin-top: 10px;
}
.text {
    color: teal;
    font-size: 25px;
    font-style: initial;
    text-align:center;
}
.images{
    width: 800px;
    height: 600px;
    justify-items: center;
    display: flex;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image{
    width: 700px;
    height: 600px;
    justify-items: center;
    display: flex;
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imag{
    width: 600px;
    height: 600px;
    justify-items: center;
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.youtube{
    margin-top: 20px;
    margin-left: 185px;
}

    